node-red_nodes.text
[{"id":"2b2a1a0a.b140c6","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"ee21103b.4cc3c","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"32eb3db2.95ddf2","type":"serial in","z":"2b2a1a0a.b140c6","name":"","serial":"b99fbf75.2a6ec","x":150,"y":340,"wires":[["231aeacc.a944c6"]]},{"id":"231aeacc.a944c6","type":"json","z":"2b2a1a0a.b140c6","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":220,"wires":[["b570478d.50cda8"]]},{"id":"b570478d.50cda8","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"var b = JSON.parse(JSON.stringify(msg.payload)); \nb=msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["f6949b6b.e50748","3a179e61.5ef692","5b6db995.4ab8c8","42ac62f2.c996ec"]]},{"id":"f6949b6b.e50748","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.payload=msg.payload.SENSOR1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["7f5f8db6.4e6d44"]]},{"id":"3a179e61.5ef692","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.payload=msg.payload.SESNOR2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["e10a56f7.3675a8"]]},{"id":"e10a56f7.3675a8","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"7f5f8db6.4e6d44","type":"ui_gauge","z":"2b2a1a0a.b140c6","name":"","group":"538e811e.4dc51","order":2,"width":"6","height":"6","gtype":"gage","title":"Potentiometer voltage","label":"Volts","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"1000","x":940,"y":160,"wires":[]},{"id":"5b6db995.4ab8c8","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.payload=msg.payload.SESNOR3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["9135bf96.ca78a"]]},{"id":"9135bf96.ca78a","type":"ui_gauge","z":"2b2a1a0a.b140c6","name":"","group":"ed06c71.0ebbf38","order":5,"width":"6","height":"6","gtype":"gage","title":"LIGHT INTESNITY","label":"LUMINOSITY","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","x":940,"y":420,"wires":[]},{"id":"42ac62f2.c996ec","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.payload=msg.payload.SESNOR3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":580,"wires":[["963a7cb6.7c3af"]]},{"id":"963a7cb6.7c3af","type":"ui_gauge","z":"2b2a1a0a.b140c6","name":"","group":"ed06c71.0ebbf38","order":5,"width":"6","height":"6","gtype":"gage","title":"LIGHT INTESNITY","label":"LUMINOSITY","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","x":910,"y":520,"wires":[]},{"id":"b99fbf75.2a6ec","type":"serial-port","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"538e811e.4dc51","type":"ui_group","name":"M2","tab":"778fa598.35f71c","order":3,"disp":true,"width":"10","collapse":false},{"id":"ed06c71.0ebbf38","type":"ui_group","name":"M1","tab":"778fa598.35f71c","order":1,"disp":true,"width":"12","collapse":false},{"id":"778fa598.35f71c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
